*.code-workspace
*.zip
aai-loaders/.DS_Store
aai-loaders/changelog.txt
aai-loaders/control.lua
aai-loaders/data-final-fixes.lua
aai-loaders/data-updates.lua
aai-loaders/data.lua
aai-loaders/info.json
aai-loaders/licence.txt
aai-loaders/README.md
aai-loaders/settings.lua
aai-loaders/thumbnail.png
aai-loaders/graphics/.DS_Store
aai-loaders/graphics/entity/.DS_Store
aai-loaders/graphics/entity/assembling-machine/assembling-machine-pipe-E-mask.png
aai-loaders/graphics/entity/assembling-machine/assembling-machine-pipe-E.png
aai-loaders/graphics/entity/assembling-machine/assembling-machine-pipe-N.png
aai-loaders/graphics/entity/assembling-machine/assembling-machine-pipe-S-mask.png
aai-loaders/graphics/entity/assembling-machine/assembling-machine-pipe-S.png
aai-loaders/graphics/entity/assembling-machine/assembling-machine-pipe-W-mask.png
aai-loaders/graphics/entity/assembling-machine/assembling-machine-pipe-W.png
aai-loaders/graphics/entity/assembling-machine/hr-assembling-machine-pipe-E-mask.png
aai-loaders/graphics/entity/assembling-machine/hr-assembling-machine-pipe-E.png
aai-loaders/graphics/entity/assembling-machine/hr-assembling-machine-pipe-N.png
aai-loaders/graphics/entity/assembling-machine/hr-assembling-machine-pipe-S-mask.png
aai-loaders/graphics/entity/assembling-machine/hr-assembling-machine-pipe-S.png
aai-loaders/graphics/entity/assembling-machine/hr-assembling-machine-pipe-W-mask.png
aai-loaders/graphics/entity/assembling-machine/hr-assembling-machine-pipe-W.png
aai-loaders/graphics/entity/loader/hr_loader_dark.png
aai-loaders/graphics/entity/loader/hr_loader_empty.png
aai-loaders/graphics/entity/loader/hr_loader_shadows.png
aai-loaders/graphics/entity/loader/hr_loader_side_dark.png
aai-loaders/graphics/entity/loader/hr_loader_side.png
aai-loaders/graphics/entity/loader/hr_loader_tint_dark.png
aai-loaders/graphics/entity/loader/hr_loader_tint.png
aai-loaders/graphics/entity/loader/hr_loader.png
aai-loaders/graphics/entity/loader/hr-pipe-straight-vertical_dark.png
aai-loaders/graphics/entity/loader/hr-pipe-straight-vertical.png
aai-loaders/graphics/entity/loader/loader_dark.png
aai-loaders/graphics/entity/loader/loader_empty.png
aai-loaders/graphics/entity/loader/loader_shadows.png
aai-loaders/graphics/entity/loader/loader_side_dark.png
aai-loaders/graphics/entity/loader/loader_side.png
aai-loaders/graphics/entity/loader/loader_tint_dark.png
aai-loaders/graphics/entity/loader/loader_tint.png
aai-loaders/graphics/entity/loader/loader.png
aai-loaders/graphics/entity/loader/pipe-straight-vertical_dark.png
aai-loaders/graphics/entity/loader/pipe-straight-vertical.png
aai-loaders/graphics/entity/pipe/hr-pipe-corner-down-left.png
aai-loaders/graphics/entity/pipe/hr-pipe-corner-down-right.png
aai-loaders/graphics/entity/pipe/hr-pipe-corner-up-left.png
aai-loaders/graphics/entity/pipe/hr-pipe-corner-up-right.png
aai-loaders/graphics/entity/pipe/hr-pipe-cross.png
aai-loaders/graphics/entity/pipe/hr-pipe-ending-down.png
aai-loaders/graphics/entity/pipe/hr-pipe-ending-left.png
aai-loaders/graphics/entity/pipe/hr-pipe-ending-right.png
aai-loaders/graphics/entity/pipe/hr-pipe-ending-up.png
aai-loaders/graphics/entity/pipe/hr-pipe-straight-horizontal-window.png
aai-loaders/graphics/entity/pipe/hr-pipe-straight-horizontal.png
aai-loaders/graphics/entity/pipe/hr-pipe-straight-vertical-single.png
aai-loaders/graphics/entity/pipe/hr-pipe-straight-vertical-window.png
aai-loaders/graphics/entity/pipe/hr-pipe-straight-vertical.png
aai-loaders/graphics/entity/pipe/hr-pipe-t-down.png
aai-loaders/graphics/entity/pipe/hr-pipe-t-left.png
aai-loaders/graphics/entity/pipe/hr-pipe-t-right.png
aai-loaders/graphics/entity/pipe/hr-pipe-t-up.png
aai-loaders/graphics/entity/pipe/pipe-corner-down-left.png
aai-loaders/graphics/entity/pipe/pipe-corner-down-right.png
aai-loaders/graphics/entity/pipe/pipe-corner-up-left.png
aai-loaders/graphics/entity/pipe/pipe-corner-up-right.png
aai-loaders/graphics/entity/pipe/pipe-cross.png
aai-loaders/graphics/entity/pipe/pipe-ending-down.png
aai-loaders/graphics/entity/pipe/pipe-ending-left.png
aai-loaders/graphics/entity/pipe/pipe-ending-right.png
aai-loaders/graphics/entity/pipe/pipe-ending-up.png
aai-loaders/graphics/entity/pipe/pipe-straight-horizontal-window.png
aai-loaders/graphics/entity/pipe/pipe-straight-horizontal.png
aai-loaders/graphics/entity/pipe/pipe-straight-vertical-single.png
aai-loaders/graphics/entity/pipe/pipe-straight-vertical-window.png
aai-loaders/graphics/entity/pipe/pipe-straight-vertical.png
aai-loaders/graphics/entity/pipe/pipe-t-down.png
aai-loaders/graphics/entity/pipe/pipe-t-left.png
aai-loaders/graphics/entity/pipe/pipe-t-right.png
aai-loaders/graphics/entity/pipe/pipe-t-up.png
aai-loaders/graphics/entity/pipe-to-ground/hr-pipe-to-ground-down.png
aai-loaders/graphics/entity/pipe-to-ground/hr-pipe-to-ground-left.png
aai-loaders/graphics/entity/pipe-to-ground/hr-pipe-to-ground-right.png
aai-loaders/graphics/entity/pipe-to-ground/hr-pipe-to-ground-up.png
aai-loaders/graphics/entity/pipe-to-ground/pipe-to-ground-down.png
aai-loaders/graphics/entity/pipe-to-ground/pipe-to-ground-left.png
aai-loaders/graphics/entity/pipe-to-ground/pipe-to-ground-right.png
aai-loaders/graphics/entity/pipe-to-ground/pipe-to-ground-up.png
aai-loaders/graphics/icons/.DS_Store
aai-loaders/graphics/icons/loader_dark.png
aai-loaders/graphics/icons/loader_mask_dark.png
aai-loaders/graphics/icons/loader_mask.png
aai-loaders/graphics/icons/loader.png
aai-loaders/graphics/technology/loader-tech-icon_dark.png
aai-loaders/graphics/technology/loader-tech-icon_mask_dark.png
aai-loaders/graphics/technology/loader-tech-icon_mask.png
aai-loaders/graphics/technology/loader-tech-icon.png
aai-loaders/locale/.DS_Store
aai-loaders/locale/de/strings.cfg
aai-loaders/locale/en/strings.cfg
aai-loaders/locale/ko/.DS_Store
aai-loaders/locale/ko/strings.cfg
aai-loaders/locale/ru/strings.cfg
aai-loaders/prototypes/.DS_Store
aai-loaders/prototypes/loader-sets/aai-industry.lua
aai-loaders/prototypes/loader-sets/base.lua
aai-loaders/prototypes/loader-sets/industrial-revolution.lua
aai-loaders/prototypes/loader-sets/krastorio2.lua
aai-loaders/prototypes/loader-sets/pyanodons.lua
aai-loaders/prototypes/loader-sets/space-exploration.lua
aai-loaders/prototypes/phase-1/.DS_Store
aai-loaders/prototypes/phase-1/combined/assembling-machine.lua
aai-loaders/prototypes/phase-1/combined/loaders.lua
aai-loaders/prototypes/phase-1/combined/pipe.lua
aai-loaders/prototypes/phase-1/combined/sprite.lua
aai-loaders/scripts/loader.lua
aai-loaders/scripts/util.lua
.vscode/settings.json
